

body {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,10,10,1) 0%, rgba(167,167,167,1) 0%, rgba(93,93,93,1) 50%, rgba(38,38,38,1) 100%);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b80a04;
    padding: 10px;
    text-align: right;
}

header h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 10px;
    color: #575757;
    background-image: -webkit-linear-gradient(45deg, #575757 50%, #4a4a4a 0%, #000000 0%);
    background-clip: text;
    -webkit-background-clip: text;
 
    -webkit-text-fill-color: transparent;
}

.category {
    padding: 100px;
}

.category h2 {
    background-color:  #b80a04;
    padding: 5px;
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: dashed;
    letter-spacing: 5px;
    color: #575757;
    background-image: -webkit-linear-gradient(45deg, #575757 50%, #4a4a4a 0%, #000000 0%);
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.book-container img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s;
    background-color: rgb(149, 150, 151);
}

.book-container img:hover {
    transform: scale(1.1);
}


.filtro{
    display: none;
}